.GameForm {
  position: relative;
  flex: 0 0 20%;

  > form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

.prev-guesses {
  flex: 1 1 10%;
}
