.App {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  margin: 1em;
  overflow-y: hidden;
}

.App-header {
  flex: 0 0 10vh;
}

.App-main {
  flex: 1 0 82vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.App-footer {
  flex: 0 0 8vh;
}
